li {
    list-style: none;
}

.tile{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    justify-content: space-between;
    padding: 20px;
    margin: 5px;
}

.sensor-name {
    size: 30px;
}

.sensor-value {
    size: 30px
}